@import url('https://fonts.googleapis.com/css?family=Poor+Story');
body {
  margin: 0;
  padding: 0;
    font-family: 'Poor Story', cursive;
background-image: url(/img/pizza.jpg);
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
    background-color: #000000;
}

@media (max-width: 480px) {
    .posFix {
        top: 12px;
        position: relative;
    }
}